name: reactapp CI-CD
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: runner_1
    steps:
    - name: checkout the code
      uses: actions/checkout@v4.2.2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.11.1
    - name: build docker image
      run: |
        docker build -t nodepro .
    - name: run conatiner
      run: |
        docker run -p 3001:3000 --name nodepro-container nodepro
        
      
    

